
body {
    font-family: "proxima-nova";
    font-size: 15px;
    line-height: 1.6em;
    font-weight: 400;
    font-style: normal;
    

background-image: url(https://images.pexels.com/photos/1330645/pexels-photo-1330645.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
}

.topnav a {
    display:block;
    width:50%;
    margin-left: auto;
    margin-right:auto;
    color: navy;
    background-color:goldenrod;
    overflow: hidden;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 30px;
}
.topnav a:hover {
    background-color:navajowhite;
    color: black;
  }
 .button{
     display: block;
     margin-left:auto;
     margin-right:auto;
 }

.h1 {
font-size: 15%;
font-style: normal}

.form{ 
    width:30px;
    padding: 20px 15px;
    background-color:goldenrod;
}
.p{
    color:navy;
font-size:125%;
font-weight: 400;}

.Center{
    display: block;
    margin-left: auto;
    margin-right:auto;
    width: 55%;
    box-shadow:10px 10px goldenrod;
}
