background-image: url("../../media/examples/broughnutsbackground.jpeg");
linear-Gradient (to bottom),
cover: 200px 100px,

.h1 {height: 600 px;}
.doughnutOftheDay {height: 200px,
img-src}
.classic
    display: flex,
    flex-direction: row-reverse,
    flex-wrap: wrap,
    height: 250 px,

}
.premier
    display: flex,
    flex-direction: row-reverse,
    flex-wrap: wrap,
    height: 250 px,
}