body {background-image: url(https://images.pexels.com/photos/1330645/pexels-photo-1330645.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
linear-Gradient (to bottom),
cover:;}

Id{font-size: large;}

h1 {height: 600 px;}

.DoD {height: 200px,
img: src 200px;}

p,h1,h2,li{color:navy,}

.Classic{
    display: flex,
    flex-direction: row-reverse,
    flex-wrap: wrap,
    height: 250 px,
    img: src 200px;}
    

}
.Premier
    display: flex,
    flex-direction: row-reverse,
    flex-wrap: wrap,
    height: 250 px,
    img: src 200px;}
}